/* Estilos para cada tarjeta de hábito */
.habit-card {
    background-color: var(--card-bg-light);
    color: var(--text-color-light);
    padding: 20px;
    border-radius: var(--border-radius);
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, background-color 0.3s ease;
    margin-bottom: 20px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 200px;
}

.habit-card:hover {
    transform: translateY(-5px);
    background-color: var(--card-bg-hover-light);
}

.habit-card.nightMode {
    background-color: var(--card-bg-dark);
    color: var(--text-color-dark);
}

.habit-card.nightMode:hover {
    background-color: var(--card-bg-hover-dark);
}

/* Titulo del hábito */
.habit-title {
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--primary-color);
    margin-bottom: 10px;
    text-align: center;
    flex-grow: 0;
}

/* Detalles del hábito (frecuencia y nota) */
.habit-details {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 20px;
}

/* Estilo para la frecuencia */
.habit-data {
    font-size: 1rem;
    margin: 5px 0;
    color: var(--text-color-light);
}

.habit-data .text {
    font-weight: bold;
}

/* Estilo para las notas */
.habit-note {
    font-size: 0.9rem;
    color: var(--text-color-light);
    margin: 5px 0;
}

.habit-note.empty {
    color: var(--message-color-light);
}

.habit-note .text-note {
    font-style: italic;
}

.habit-note .text-note.empty {
    color: var(--message-color-light);
}

/* Botón para eliminar el hábito */
.delente-habit {
    background-color: var(--danger-color);
    color: white;
    border: none;
    padding: 10px;
    border-radius: var(--border-radius);
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: auto;
    align-self: flex-start;
}

.delente-habit:hover {
    background-color: var(--danger-color-hover);
}

.delente-habit:focus {
    outline: none;
}

/* Responsive design */
@media (max-width: 768px) {
    .habit-card {
        padding: 15px;
    }

    .habit-title {
        font-size: 1.3rem;
    }

    .habit-data, .habit-note {
        font-size: 0.9rem;
    }
}

@media (max-width: 480px) {
    .habit-card {
        padding: 10px;
    }

    .habit-title {
        font-size: 1.1rem;
    }

    .habit-data, .habit-note {
        font-size: 0.8rem;
    }
}
