.habit-card {
    min-width: 350px;
    width: 90%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: #f4f4f5; 
    border: 1px solid #e2e2e8;
    border-radius: 12px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 16px;
    margin: 16px 0;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.habit-card:hover {
    transform: translateY(-4px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.habit-title {
    font-size: 20px;
    font-weight: 600;
    color: #333;
    margin-bottom: 8px;
    text-align: center;
}

.habit-details {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 12px;
}

.habit-data {
    font-size: 14px;
    color: #555;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.text {
    margin-left: 4px;
    font-weight: 500;
    color: #444;
    display: block;
}

.habit-note {
    background-color: #d8f3e3; 
    border-left: 4px solid var( --button-principal ); 
    padding: 4px 8px;
    border-radius: 6px;
}

.text-note {
    font-size: 13px;
    color: #666;
}

.note {
    font-weight: 500;
    color: #555;
}

.empty{
    display: flex;
    justify-content: center;
    font-style: italic;
    color: #33333371;
}

.delente-habit {
    background-color: var( --button-delete);
    color: #fff;
    border: none;
    padding: 6px 12px;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s;
    display: block;
    margin: 0 auto;
}

.delente-habit:hover {
    background-color: #c0392b;
}

/*  Estilos para resaltar la card */
.highlight {
    animation: highlight 0.5s ease-in-out;
    background-color: #f0f8ff;
    border-left: 4px solid var( --button-principal );
}

@keyframes highlight {
    0% { transform: scale(1); }
    50% { transform: scale(1.05); }
    100% { transform: scale(1); }
}


@media( min-width: 768px ){

    .habit-data{
        flex-direction: row ;
    }
}