/* Estilo general para el formulario */
#habit-form {
    background-color: var(--background-color);
    color: var(--text-color-light);
    width: 100%;
    max-width: 600px;
    margin: 40px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    font-size: 1rem;
    transition: background-color 0.3s ease;
}

/* Título del formulario */
#habit-form .title {
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
    margin-bottom: 20px;
}

/* Estilo para los campos */
.field {
    margin-bottom: 20px;
}

.field label {
    font-size: 1rem;
    font-weight: 500;
    display: block;
    margin-bottom: 8px;
}

.field input, .field textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: var(--input-background);
    color: var(--text-color-light);
    font-size: 1rem;
    transition: border-color 0.3s ease;
}

.field input:focus, .field textarea:focus {
    border-color: var(--highlight-color);
    outline: none;
}

/* Botones de días */
.button-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.button-days {
    background-color: var(--button-background);
    border: 1px solid var(--button-border);
    padding: 8px 15px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1rem;
    color: var(--button-text-color);
    transition: background-color 0.3s, color 0.3s;
}

/* Clase seleccionada */
.button-days.selected {
    background-color: var(--highlight-color);
    color: var(--text-color-dark);
    border-color: var(--highlight-color);  /* Puedes también cambiar el borde cuando está seleccionado */
}

/* Cambio de color al pasar el mouse */
.button-days:hover {
    background-color: var(--highlight-color-light);
    color: var(--text-color-dark);
}

/* Estilo para el área de notas */
textarea {
    min-height: 100px;
    resize: vertical;
}

/* Botón de submit */
#submit {
    width: 100%;
    padding: 12px;
    background-color: var(--highlight-color);
    border: none;
    border-radius: 8px;
    color: var(--text-color-dark);
    font-size: 1.1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#submit:hover {
    background-color: var(--highlight-color-light);
}

/* Estilo para las animaciones */
@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(10px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

#habit-form {
    animation: fadeIn 0.5s ease-in-out;
}

/* Responsividad */
@media (max-width: 768px) {
    #habit-form {
        margin: 20px;
        padding: 15px;
    }

    .field input, .field textarea {
        padding: 8px;
    }

    .button-days {
        padding: 6px 12px;
    }

    #submit {
        padding: 10px;
    }
}
