/* Contenedor del habit-check */
.habit-check {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 10px 0;
  padding: 10px;
  border-radius: 8px;
  box-shadow: var( --box-shadow-light );
  transform: scale( 1 );
  transition: 
    background-color 0.3s ease,
    transform 0.3s ease;
  cursor: pointer;
}

.habit-check:hover {
    transform: scale(1.02);
}

.habitCheck {
  appearance: none; 
  width: 22px;
  height: 22px;
  border-radius: 5px;
  border: 2px solid var( --primary-color );
  margin-right: 10px;
  position: relative;
  transition: background-color 0.3s ease, border-color 0.3s ease;
  cursor: pointer;
}

.habitCheck:checked {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
  box-shadow: 0 0 5px var( --primary-color); 
}

.habitCheck:checked::after {
  content: '';
  position: absolute;
  top: 4px;
  left: 4px;
  width: 16px;
  height: 16px;
  background-color: white;
  border-radius: 2px;
  transform: rotate(45deg);
}

.habit-name {
  font-size: .8rem;
  font-weight: 500;
  margin-right: 10px;
  cursor: pointer;
  transition: color 0.3s ease;
}

.habit-name:hover {
  color: var( --primary-color );
}

.habit-estatus {
  font-size: 0.6rem;
  font-weight: 200;
  margin-left: auto;
  transition: color 0.3s ease;
}

.habit-estatus.completed {
  text-decoration: line-through;
  font-weight: bold;
}

@media  ( min-width : 768px) {
  
  .habit-name{
    font-size: .9rem;
  }

  .habit-estatus{
    font-size: .7rem;
  }
}