/* Contenedor principal de HabitDay */
.day-container {
  background-color: var(--theme-background);
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  padding: 30px;
  margin: 20px auto;
  width: 90%;
  max-width: 600px;
  transition: all 0.3s ease;
}

.title {
  font-size: 2.4rem;
  font-weight: bold;
  color: var(--theme-text);
  text-align: center;
  margin-bottom: 20px;
  letter-spacing: 0.5px;
  transition: color 0.3s ease;
}

.day-info {
  margin-top: 10px;
}

.habit-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.habit-item {
  background-color: var(--card-background);
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  font-size: 1.1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.3s ease;
}

.habit-item:hover {
  background-color: var(--hover-background);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.habit-name {
  font-weight: 500;
  color: var(--theme-text-light);
  font-size: 1.1rem;
}

.no-habits-message {
  font-size: 1.1rem;
  color: var(--text-color-light);
  text-align: center;
  font-style: italic;
}

