#progress-bar {
    display: flex;
    height: 20px;
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
    background-color: #ccc; /* opcional */
  }
  
  #complete {
    background-color: #4caf50;
  }
  
  #no-complete {
    background-color: #f44336;
  }
  
  #pendiente {
    background-color: #ffeb3b;
  }

#progress-bar > div {
    transition: width 0.3s ease-in-out;
}