#phrase-container{
    width: 100%;
    max-width: 500px;
}

#frase {
    font-family: 'Georgia', serif;
    font-size: 0.9rem;
    border-left: 4px solid var( --primary-color );
    padding: 1rem 1.5rem;
    margin: 1rem 0;
    border-radius: 0.5rem;
    box-shadow: var( --box-shadow-light );
    transition: all 0.3s ease-in-out;
    position: relative;
    width: 100%;
  }
  
  #author {
    display: block;
    margin-top: 0.7rem;
    font-size: .9rem;
    color: #636e72;
    font-style: italic;
    text-align: right;
  }
  

@media (min-width: 768px) {
    #frase{
        font-size: 1.2rem;
    }

    #author{
        font-size: 1rem;
    }
}