#main-container {
    text-align: center;
    width: 100%;
    max-width: 1200px;
    margin: var(--margin) auto;
    padding: var(--padding);
}

.title {
    font-size: 2.5rem;
    color: var(--primary-color);
    margin-bottom: 20px;
}

.top-section {
    display: flex;
    justify-content: space-around;
    margin: 20px 0;
    width: 100%;
}

.menu {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 20px;
}

.button-main {
    padding: 12px 24px;
    font-size: 16px;
    border: none;
    border-radius: var(--border-radius);
    cursor: pointer;
    transition: background-color var(--transition-speed), transform var(--transition-speed);
}

.create {
    background-color: var(--primary-color);
    color: var(--button-text-color);
}

.view {
    background-color: var(--secondary-color);
    color: var(--button-text-color);
}

.button-main:hover {
    background-color: var(--button-hover-bg);
    transform: scale(1.05);
}

.daily-habits {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    width: 100%;
    padding: var(--padding);
    transition: background-color var(--transition-speed);
}

/* Estilos para los días de hábitos */
.message {
    font-size: 1.2rem;
    text-align: center;
    color: var(--text-color-dark);
    margin-top: 30px;
}

/* Responsive design (Adaptación en dispositivos pequeños) */
@media (max-width: 768px) {
    .top-section {
        flex-direction: column;
        align-items: center;
    }

    .button-main {
        width: 100%;
        margin-bottom: 10px;
    }

    .daily-habits {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 480px) {
    .title {
        font-size: 2rem;
    }

    .message {
        font-size: 1rem;
    }
}