#app-container{
    width: 100%;
    max-width: 900px;
    min-width: 400px;
}
#main-container {
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    font-size: 2rem;
    color: var(--primary-color);
    margin-bottom: 20px;
}

.top-section {
    display: flex;
    justify-content: space-around;
    margin: 20px 0;
    width: 100%;
}

.menu {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 20px;
}

.button-main {
    padding: 0.75rem 1.5rem;
    border-radius: 0.6rem;
    font-size: .8rem;
    font-weight: 600;
    cursor: pointer;
    background: transparent;
    border: 2px solid var( --primary-color );
    color: var( --primary-color );
    transition: all var(--transition-speed) ease;
    box-shadow: 0 4px 12px var(--primary-color);
  }
  
  .view {
    background-color: var(--primary-color );
    color: var( --button-color-night );
  }
  
  .view:hover {
    background-color: transparent;
    color: var(--primary-color);
    box-shadow: 0 0 0 4px var( --primary-color );
  }
  
  .create:hover {
    background-color: var( --primary-color );
    color: var( --button-color-night );
    box-shadow: 0 0 0 4px var( --primary-color );
  }

.daily-habits {
    display: grid;
    grid-template-columns: 1fr;
    gap: 16px;
    padding: 16px;
    justify-content: center;
}

.message {
    font-size: 1rem;
    text-align: center;
    margin-top: 30px;
}

@media (min-width: 768px) {

    .title{
        font-size: 2.5rem;
    }

    .button-main{
        font-size: 1rem;
    }
    .message{
        font-size: 1.2rem
    }

    .daily-habits {
        grid-template-columns: repeat(2, auto);
      }
}

@media (min-width: 1024px) {
    .daily-habits {
      grid-template-columns: repeat(3, auto);
    }
  }