:root {
  --primary-color: #000; /*color que elegira el usuario*/
  --text-color-light: #0F172A;  /*color principal light*/
  --text-color-dark: 	#F8FAFC; /*color en modo oscuro*/
  --background-color-light: #FFFFFF;
  --background-color-dark: #0F172A; 
  --box-shadow-light: 0 2px 8px rgba(0,0,0,0.1);
  --box-shadow-dark: 0 2px 8px rgba( 255, 255, 255, 0.9);
  --icon-color-light: #555;
  --icon-color-dark: #ccc;
  --transition-speed: 0.3s;
  --font-family: "Inter", Arial, sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html{
  margin: 0;
  padding: 0;
  font-family: var(--font-family);
  transition: background-color var(--transition-speed), color var(--transition-speed);
  overflow-x: hidden;
  min-height: 100vh;
  display: flex;
  justify-content: center;
}

body {
  background-color: var(--background-color-light);
  color: var(--text-color-light);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 0 30px;
  width: 100vw;
  max-width: 1024px;
  min-width: 400px;
}

body.nightMode {
  --background-color-light: var(--background-color-dark);
  --text-color-light: var(--text-color-dark);
  --box-shadow-light: var(--box-shadow-dark);
}

#root{
  width: 100%;
}